body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #fafafa;
    counter-reset: section;
}

h1 {
    font-size: 3em;
}

h1, h2, .read-more, .default {
    color: #2952a3;
}

footer {
    margin-top: 3em;
    font-size: 0.8em;
    text-align: center;
}

/* Generic classes */
.w-100 {
    width: 100%;
}

.icon {
    height: 24px;
    width: 24px;
}
/* *************** */


/* SECTION STYLES */
section, p.introduction {
    margin-left: 1em;
    margin-right: 1em;
}

section.main-section {
    margin-top: 1em;
    padding: 1em;
    border: 1px solid #ddd;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 2px;
}

section.wyvern-detail {
    text-align: justify;
}
/* ************** */


/* UNORDERED LIST STYLES */
ul {
    list-style-type: none;
    padding: 0;
}

ul.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 0;
    z-index: 1;
}

ul.dropdown-content li {
    list-style-type: none;
}

ul.dropdown-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

ul.dropdown-content li a:not(.wip-page):hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

ul.dropdown-content li a.wip-page {
    color: grey;
}

/* ********************* */


/* FIGURE AND FIGCAPTION STYLES */
figure {
    text-align: right;
}

figure > a > img {
    height: 100px;
    width: 100px;
}

figcaption, p.introduction {
    text-align: left;
    font-size: 1.2em;
    font-weight: 300;
}

figure + div.table-container {
    margin-left: 1em;
}
/* **************************** */


/* "READ MORE" LINKS STYLES */
.read-more-container {
    margin-top: 1em;
    text-align: right;
}

.read-more-container, .read-more, .default {
    padding-top: 10px;
    padding-bottom: 10px;
}

.read-more, .default {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    text-decoration: none;
    border: 2px solid #5c85d6; 
    border-radius: 5px;
}

.read-more:hover, .default:hover {
    color: #2952a3;
    border: 2px solid #2952a3;
    cursor: pointer;
}
/* **************** */


/* DETAIL PAGES STYLES */
img.wyvern-image {
    max-height: 35vh;
    max-width: 35vw;
}

header>#wyvern-introduction>h1, section.wyvern-heading {
    text-align: center;
}

hr.separator {
    margin-left: 6em;
    margin-right: 6em;
}

h2::before {
    counter-increment: section;
    content: counter(section, upper-roman) " - ";
}
/* ******************* */


/* BLOCKQUOTE STYLES */
blockquote {
    font-size: 1.4em;
    text-align: left;
    width: 60%;
    margin: 20px auto;
    font-family: Open Sans;
    font-style: italic;
    color: #555555;
    padding: 1.2em 30px 1.2em 75px;
    border-left: 6px solid #2952a3 ;
    line-height: 1.6;
    position: relative;
    background: #EDEDED;
}

/* Add an opening quote before the text starts */
blockquote::before {
    content: "\201C";
}

/* Add a closing quote after the text ends */
blockquote::after {
    content: "\201D";
}

/* Styles shared by the opening and closing quotes */
blockquote::before, blockquote::after {
    font-family: Arial;
    color: #2952a3;
    font-size: 2rem;
}
/* ***************** */


/* "GENERAL INFORMATION" TABLE STYLES */

.table-container {
    overflow-x: auto;
}

.wyvern-characteristics {
    border-collapse: collapse;
}

.wyvern-characteristics tr:hover {
    background-color: #e6e6e6;
}

.wyvern-characteristics td, .wyvern-characteristics th {
    padding: 8px;
    border: 1px solid #ddd;
}
/* ********************************** */


/* NAVIGATION MENU STYLES */
.nav-menu {
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

/* Compensate the fixed nav-menu by adding a margin to its next element */
.nav-menu + #wyvern-introduction>h1, .wyvern-heading>h1 {
    margin-top: 60px;
}

.menu-element {
    vertical-align: top;
    height: 50px;
    width: 50%;
    position: relative;
    display: inline-block;
}

/* do not apply overflow: hidden to the menu elements with dropdown class, or the dropdown menu won't show */
.menu-element:not(.dropdown) {
    overflow: hidden;
}

.menu-element:hover .dropdown-content {
    display: block;
}

.menu-element.nav-button:hover, .menu-element:hover .nav-button {
    background-color: #2952a3;
}

.nav-button {
    height: 50px;
    background-color: #3366cc;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

li.active {
    font-weight: bold;
}
/* ********************** */


/* LINKS STYLES */
a {
    text-decoration: none;
}

a.nav-button {
    display: inline-block;
    padding-top: 16px;
    text-align: center;
}

a.active, button.active {
    text-decoration: underline;
}
/* ************ */


/* SEARCH BAR */
input#search-bar {
    padding: 6px;
    margin: 8px 16px 0px 20px;
}
/* ********** */


/* Styles shared by the mobile version and the printable version */
@media only print, only screen and (max-width: 480px) {
    /* Switch to Roboto font as default */
    body {
        font-family: 'Roboto', sans-serif;
    }

    section>h2 {
        text-align: center;
    }
}

/* Styles for the mobile version */
@media only screen and (max-width: 480px) {
    /* Make the wyvern image more apparent */
    img.wyvern-image {
        max-height: 80vh;
        max-width: 80vw;
    }

    blockquote {
        width: 80%;
        padding: 1em;
    }

    section.wyvern-detail {
        font-size: 1.2rem;
    }
    
    /* Default figures style has too much margin for mobile version */
    figure {
        margin: 0;
        text-align: center;
    }

    figure > figcaption {
        text-align: justify;
    }
    
    /* Use the figure image margin to separate it from the figcaption and the table */
    figure > a > img {
        margin-top: 1em;
        margin-bottom: 1em;
    }
    
    /* No margin to gain space for the table display */
    figure + div.table-container {
        margin-left: 0;
    }
}

/* Styles for the printable version */
@media only print {
    body {
        font-size: 1.2rem;
    }
    
    img.wyvern-image {
        max-height: 20vh;
        max-width: 20vw;
    }
    
    .wyvern-characteristics td, .wyvern-characteristics th {
    padding: 2px;
    }

    /* Change a bit the blockquote style and make it wider */
    blockquote {
        width: 100%;
        padding: 1em;
        border-left: 0px;
    }

    /* Hide elements that are willingly not kept in the printed output */
    a, nav.nav-menu, footer {
        display: none;
    }
}
